@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  background-color: #333;
  font-family: 'Poppins', sans-serif;
}

h3 {
  color: rgb(236, 214, 214);
  transform: translateX(-10%);
  font-size: large;
}

.quest-container {
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main {
  width: 27vw;
  height: 80vh;

  align-items: center;
  margin: auto;
}

.main img {
  border-radius: 20px;
  width: 200px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

div p {
  padding-top: 10%;
  font-size: xx-large;
  margin-top: 20px;
  color: rgb(236, 214, 214);
  background-color: slategray;
  height: 80px;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}
